* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: lightgray;
}
.wrapper-nav {
  display: flex;
  justify-content: space-between;
}
.menu {
  padding-top: 12px;
  margin-right: 20px;
}
.menu a {
  padding-left: 25px;
}
.menu a {
  text-decoration: none;
  color: black;
}
#logo {
}
#Hkp16 {
  width: 100%;
  border-radius: 10px;
}
