*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: lightgray;
}
.wrapper-nav{
    display: flex;
    justify-content: space-between;
}
.meny{
    display: grid;
    grid-column: 1fr 1fr;
}
#logo{
    
}
#Hkp16{
   width: 100%; 
   border-radius: 10px;
}