* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: lightgray;
}
.wrapper-nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
#logo {
  width: 45px;
  height: 45px;
}
.menu {
  padding-top: 12px;
  margin-right: 20px;
  margin-bottom: 25px;
}
.menu a {
  padding-left: 25px;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
}
.wrapper {
}


#Hkp16 {
  width: 100%;
  border-radius: 10px;
}
#name{
  width: 300px;
}
@media screen and (min-width 600px) {
}
