* {
  box-sizing: border-box; 
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
h1{
  font-size: 1.45rem;
}
h2{
  font-size: 1.1rem;
}
p{
  font-size: 0.96rem;
}
body {
  margin: 0;
  background-color: lightgray;
}
.wrapper-nav {
  display: flex;
  justify-content: space-between;
  background-color: darkgrey;
}
#logo {
  width: 45px;
  height: 45px;
}
.menu {
  padding-top: 12px;
  margin-bottom: 20px;
}
.menu a {
  padding-left: 25px;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
}
.contact-info {
  background-color: darkslategray;
  margin-top: 10px;
  color: white;
  padding: 20px;
  text-align: center;
}

.contact-info h5 {
  margin: 0;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
  font-size: 0.9em; 
}